# Konfigurasi Django
SECRET_KEY=tambahkan-secret-key-anda-yang-aman-disini
DEBUG=False

# Konfigurasi Database (Jika menggunakan selain sqlite3, saat ini default sqlite3)
# DATABASE_URL=

# Konfigurasi Email
EMAIL_HOST_USER=email-anda@gmail.com
EMAIL_HOST_PASSWORD=password-aplikasi-email-anda
